graft src
prune src/reynir/__pycache__
include src/reynir/Reynir.grammar
include src/reynir/Reynir.grammar.bin
include src/reynir/eparser.h
exclude src/reynir/_eparser.cpp
include src/reynir/config/*.conf
include src/reynir/resources/ordalisti-all.dawg.bin
include src/reynir/resources/ordalisti-formers.dawg.bin
include src/reynir/resources/ordalisti-last.dawg.bin
include src/reynir/resources/ord.compressed
exclude src/reynir/resources/*.csv
exclude src/reynir/*.o
exclude src/reynir/*.so
