graft src
prune src/reynir/__pycache__
prune src/reynir/.mypy_cache
prune test/test_corpus
include src/reynir/Greynir.grammar
include src/reynir/Greynir.grammar.bin
exclude src/reynir/Greynir.grammar.error.bin
exclude src/reynir/Greynir.grammar.query.bin
include src/reynir/eparser.h
exclude src/reynir/_eparser.cpp
include src/reynir/config/*.conf
include src/reynir/resources/ordalisti-all.dawg.bin
include src/reynir/resources/ordalisti-formers.dawg.bin
include src/reynir/resources/ordalisti-last.dawg.bin
include src/reynir/resources/ord.compressed
exclude src/reynir/resources/*.csv
exclude src/reynir/*.o
exclude src/reynir/*.so
