graft src
prune src/reynir/__pycache__
prune src/reynir/.mypy_cache
prune test/test_corpus
include src/reynir/Greynir.grammar
exclude src/reynir/Greynir.*.bin
include src/reynir/eparser.h
exclude src/reynir/_eparser.cpp
include src/reynir/config/*.conf
exclude src/reynir/resources/*.csv
exclude src/reynir/resources/*.txt
exclude src/reynir/*.o
exclude src/reynir/*.so
